{%- import "forms.html" as scope -%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/assets/index.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>App</title>
  </head>
  <body class="container flex flex-col justify-center mx-auto h-full w-full">
    <div
      id="base-element"
      class="container mx-auto h-screen w-screen flex justify-center align-center"
    >
      <div id="app">{% call scope::logInForm(api_url) %}</div>
    </div>
  </body>
  <script src="https://unpkg.com/htmx.org@1.9.11"></script>
  <script src="/assets/bundle.js"></script>
</html>
