{%- import "macro.html" as scope -%} {% call scope::baseHeader() %}
<div
  id="dash-board"
  class="flex justify-start flex-col align-center w-full h-full"
>
  {% call scope::header(user, api_url) %}
  <div class="mt-2 flex flex-wrap justify-start align-center">
    {% for it in itineary %}
    <div class="mt-2 mr-2 max-w-sm rounded overflow-hidden shadow-lg">
      <img
        class="w-full"
        src="{{ api_url }}image/{{it.resource_id}}"
        alt="German city"
      />
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">{{ it.destination }}</div>
        <div class="flex justify-between align-center">
          <div>
            <p class="font-bold text-gray-700 text-base">Departure:</p>
            <p class="font-bold text-gray-700 text-base">Ariaval:</p>
            <p class="font-bold text-gray-700 text-base">Budget:</p>
          </div>
          <div>
            <p class="text-gray-700 text-base">{{ it.departure }}</p>
            <p class="text-gray-700 text-base">{{ it.arrival }}</p>
            <p class="text-gray-700 text-base">{{ it.over_all_budget }}</p>
          </div>
        </div>
      </div>
      <div class="px-6 pt-4 pb-2">
        <span
          class="cursor-pointer inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
          >Add Photos</span
        >
        <span
          class="cursor-pointer bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
          >View Itemiary</span
        >
      </div>
    </div>
    {% endfor %}
    <div
      class="flex flex-col text-center mt-2 mr-2 max-w-sm rounded overflow-hidden shadow-lg"
    >
      <i
        data-modal-target="authentication-modal"
        data-modal-toggle="authentication-modal"
        style="font-size: 20rem"
        class="cursor-pointer text-gray-300 fa fa-plus-circle"
        aria-hidden="true"
      ></i>
      <div class="px-6 py-4 min-w-80">
        <div
          class="w-full min-h-4 cursor-pointer inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
        ></div>
        <div class="w-full flex justify-between align-center">
          <div class="flex flex-col w-full">
            <p
              class="min-h-4 cursor-pointer inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
            ></p>
            <p
              class="min-h-4 cursor-pointer inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
            ></p>
            <p
              class="min-h-4 cursor-pointer inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
            ></p>
          </div>
          <div class="flex flex-col w-full">
            <p
              class="min-h-4 inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
            ></p>
            <p
              class="min-h-4 inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
            ></p>
            <p
              class="min-h-4 inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
            ></p>
          </div>
        </div>
      </div>
      <div class="flex px-6 pt-4 pb-2 w-full">
        <span
          class="min-h-4 w-40 bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
        ></span>
        <span
          class="min-h-4 w-40 bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
        ></span>
      </div>
    </div>
  </div>
</div>
<add-itineary-modal-component id="itineary-modal"></add-itineary-modal-component>

{% call scope::baseFooter() %}
