{%- import "macro.html" as scope -%}
<head>
  <meta charset="UTF-8" />
  <link href="/assets/index.css" rel="stylesheet" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <title>App</title>
</head>
<div
  id="dash-board"
  class="flex justify-start flex-col align-center w-full h-full"
>
  {% call scope::header(user) %}
  <div>YOLO</div>
</div>
<script src="https://unpkg.com/htmx.org@1.9.11"></script>
<script src="/assets/bundle.js"></script>
