{% macro logInForm() %}
<form
  class="flex flex-col justify-center"
  hx-post="http://127.0.0.1:3000/api/v1/login"
  hx-target="this"
  hx-swap="outerHTML"
>
  <input class="border-black" type="email" name="email" />
  <input class="border-black" type="password" name="password" />
  <input class="rounded bg-blue-500 border-black" type="submit" value="Log In" />
</form>
{% endmacro %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/assets/index.css" rel="stylesheet"></link>
  <title>App</title>
</head>
<body class="container flex flex-col justify-center mx-auto h-screen w-screen">
  <div class="container mx-auto h-screen w-screen flex justify-center" id="app">
    {% call logInForm() %}
  </div>
</body>
<script src="https://unpkg.com/htmx.org@1.9.11"></script>
<script src="/assets/bundle.js"></script>
</html>
